@charset "UTF-8";

/* 共通部分
------------------------------- */
html {
    font-size: 100%;
}
body{
    font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
    line-height: 1.7;
    color: #666;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 4%;
    text-align: center;
}


/* HEADER
--------------------------------- */

h1 {
    font-family: "Bitter", sans-serif;
      font-weight: 400;
      font-style: normal;
      margin-top: 20px;
    }

    .main-nav {
        display: flex;
        font-size: 1.375rem;
        text-transform: uppercase;
        margin-top: 34px;
        list-style: none;
    }
    .main-nav li {
        margin-left: 36px;
        font-family: "Bitter", sans-serif;
      font-weight: 400;
      font-style: normal;
    }
    .main-nav a {
        color: #fff;
    }
    .main-nav a:hover {
        color: #666;
    }
    .page-header {
        display: flex;
        justify-content: space-between;
        background: #FFBF1A;
        width: 100%;
        height: 100px;
        margin: auto;
    }
    .wrapper {
        max-width: 1100px;
        margin: 0 auto;
        padding: 0 4%;
        
    }

    /* HOME
    ----------------------------------- */
    
        

    .home-content p {
        margin-top: 50px;
    }
    .page-title {
        font-size: 3.125rem;
        text-align: center;
        margin-top: 180px;
        font-family: "Playfair Display", serif;
        font-optical-sizing: auto;
        font-weight: <weight>;
        font-style: normal;
    }
    .flex {
        display: flex; /*横並び*/
        justify-content: space-between;
        margin-top: 50px;
        margin-bottom: 80px; /* ボタン位置調整　*/
        margin-left: 80px;
        margin-right: 80px;
      }
     
      .flex .text {
        margin: 0 0 0 60px;
        padding: 0;
      
      }
      .text p {
        display: table-cell;
        margin: 0;
      }
      


    /* ボタン　*/
    .button {
        font-size: 1rem;
        font-family: "Playfair Display", serif;
        font-optical-sizing: auto;
        font-weight: <weight>;
        font-style: normal; /* ここまでフォントのこと　*/
        background: #FFBF1A;
        color: #fff;
        border-radius: 5px;
        padding: 10.4px 50.7px;
        border-radius: 100vh;
        text-align: center;
    }
    .botton :hover {
        background: #666; 
    }
    /* 写真　*/
    .grid {
        display: grid;
        gap: 50px;
        grid-template-columns: repeat(3,1fr);
        margin-top: 50px;
        margin-bottom: 80px; /* ボタン位置調整 */
    }
    .image img {
        width: 384px;
    }
    .shell img {
        width: 1058px;
    }
    /* CONTACT 
    -------------------------------------------*/
    #contact {
        background-image: url(../images/beach.jpeg);
        min-height: 100vh;
        background-size: cover;
    }
    #contact .page-title {
        text-align: center;
    }
    .text {
        display: flex;
        align-items: center;
    }
    /* フォーム　*/
    form div {
        margin-bottom: 14px;
    }
    label {
        font-size: 0.875rem;
        margin-bottom: 10px;
        display: block;
    }
    input[type=text],
    input[type=email],
    textarea {
        background: rgba(255,255,255,.5);
        border: 1px #fff solid;
        border-radius: 5px;
        padding: 10px 300px;
        font-size: 1rem;
    }
    input[type=text],
    input[type=email] {
        width: 100%;
        max-width: 240px;
    }
    textarea {
        width: 100%;
        max-width: 240px;
        height: 6rem;
    }
    input[type="submit"] {
        border: none;
        cursor: pointer;
        line-height: 1;
    }

    /* モバイル版
    ---------------------------- */
    @media (max-width: 600px){


        /* CONTACT */
        #contact .page-title {
            margin-top: 40px;
        }

        /* フォーム */
        input[type="text"],
        input[type="email"],
        textarea {
            max-width: 100%;
        }

    }
    /* FOOTER 
    ------------------------------ */
    footer {
        background: #FFBF1A;
        text-align: center;
        padding: 26px 0 0;
    }
    footer h3 {
        color: #666;
        font-size: 1.625rem;
        text-align: left;
        font-family: "Bitter", sans-serif;
    }
    footer p {
        color: #666;
        font-size: 0.75rem;
    }

    /* ABOUT
    ------------------------------- */

    body {
        background-color: #FEFBE7;
    }

    .image2 {
        width: 462px;
        height: 307px;
        display: block;
        margin: 0 auto;
        margin-top: 100px;
    }
    .page-title2 {
        font-size: 3.125rem;
        text-align: left;
        font-family: "Playfair Display", serif;
        font-optical-sizing: auto;
        font-weight: <weight>;
        font-style: normal;
        margin-top: 120px;
        margin-bottom: 30px
    }
    .about-answer {
        font-size: 1.5625rem;
        border-bottom: 1px solid #666;
        display: inline-block;
        margin-bottom: 20px;
    
    }
     .about-word {
        text-align: left;
        margin-left: 100px;
     }
     

  
